@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.heaTop {
  width: 100%;
  height: 120px;
}
.heaTop > div {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.heatL {
  width: 300px;
  height: 100%;
  float: left;
}
.heatL > div:nth-child(1) {
  float: left;
}
.heatL > div:nth-child(2) {
  float: right;
}
.heatL > div > span {
  font-size: 28px;
  font-family: 微软雅黑;
  color: #D2A069;
  line-height: 120px;
  margin-bottom: 20px;
}
.heatL > div > span:nth-child(2) {
  color: #444444;
}
.heatR {
  width: 200px;
  height: 100%;
  float: right;
}
.heatR > div {
  width: 80px;
  height: 38px;
  line-height: 40px;
  border-radius: 20px;
  border: 1px solid #E1B787;
  text-align: center;
  margin-top: 40px;
  color: #E1B787;
}
.heatR > div:nth-child(1) {
  float: left;
  margin-right: 10px;
}
.heatR > div:nth-child(2) {
  float: right;
  margin-left: 10px;
}
.heaMiddle {
  width: 100%;
  height: 60px;
  background: #282828;
}
.heaMiddle > div {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.heamL {
  width: 875px;
  height: 60px;
  float: left;
}
.heamL > ul {
  width: 875px;
  height: 60px;
}
.heamL > ul > li {
  width: 125px;
  height: 60px;
  float: left;
  text-align: center;
  line-height: 60px;
  background: #282828;
  font-size: 16px;
  color: #B6B6B6;
}
.heamL > ul > li:nth-child(1) {
  background: #D2A069;
  color: white;
}
.heamR {
  width: 325px;
  height: 60px;
  float: right;
}
.heamR > div {
  width: 210px;
  height: 30px;
  margin: 15px 0 15px 115px;
}
.heamR > div > input {
  width: 180px;
  height: 30px;
  float: left;
  outline: none;
  background: #494949;
  border: 0px;
  color: white;
}
.heamR > div > a {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: #D2A069;
}
.heamR > div > a > img {
  width: 100%;
  height: 100%;
}
div.heaBottom {
  width: 100%;
  height: 720px;
  background: url('../images/sy2.jpg') no-repeat center;
}
.main {
  width: 100%;
}
.main div.mainHead {
  width: 100%;
  height: 27px;
  margin: 70px 0 30px 0;
  border-bottom: 1px solid #ccc;
  padding-top: 8px;
}
.main div.mainHead div.mhBody {
  width: 90%;
  height: auto;
  padding-bottom: 2px;
  margin: 0 auto;
  position: relative;
}
.main div.mainHead div.mhBody div.mhbMain {
  height: 24px;
  margin: 0px 0 0 25px;
  font-size: 14px;
}
.main div.mainHead div.mhBody div.mhbMain a {
  color: #000;
}
.main div.mainHead div.mhBody div.mhbMain img {
  position: absolute;
  left: 0px;
  top: 1px;
  width: 16px;
}
.main div.mainBody {
  width: 90%;
  height: 900px;
  margin: 0 auto;
  background: #ccc;
  display: -webkit-flex;
}
.main div.mainBody div.mbLeft {
  width: 22%;
  height: 360px;
  float: left;
  margin-right: 10px;
}
.main div.mainBody div.mbLeft div.mbTop {
  width: 100%;
  height: 116px;
  overflow: hidden;
  background: url('../images/sy6.png') no-repeat center;
}
.main div.mainBody div.mbLeft div.mbTop a {
  display: block;
  width: 120px;
  margin: 35px 70px 0 70px;
  font-size: 30px;
  color: #fff;
}
.main div.mainBody div.mbLeft dl {
  width: 100%;
  height: 153px;
  background: red;
}
.main div.mainBody div.mbRight {
  width: 80%;
  height: 800px;
  float: right;
  background: blue;
}
