<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>产品招商</title>
	<script src="https://cdn.bootcss.com/less.js/3.0.4/less.js"></script>
	<link rel="stylesheet" href="stylesheets/attract.css">
	<script src="javascripts/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div class="wrap">
		<div class="header">
			<div class="heaTop">
				<div>
					<div class="heatL">
						<div><img src="images/sy1.jpg" alt=""></div>
						<div>
							<span>TEA</span>
							<span>WEBSITE</span>
						</div>		
					</div>
					<div class="heatR">
						<div><a href="">注册</a></div>
						<div><a href="">登录</a></div>
					</div>
				</div>
			</div>
			<div class="heaMiddle">
				<div>
					<div class="heamL">
						<ul>
							<li><a href="index">首页</a></li>
							<li><a href="product">产品专区</a></li>
							<li><a href="brand">品牌介绍</a></li>
							<li><a href="attract">招商加盟</a></li>
							<li><a href="zyd">专营店</a></li>
							<li><a href="news">新闻动态</a></li>
							<li><a href="contact">联系我们</a></li>
						</ul>
					</div>
					<div class="heamR">
						<div>
							<input type="text">
							<a href=""><img src="images/search.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<div class="heaBottom">
				<div></div>
				<div></div>
				<span class="zjt"></span>
				<span class="yjt"></span>
			</div>
		</div>
		<div class="main">
			<div class="matop">
				<div class="wenzi" id="ys">
					<div>加</div>
					<div>盟</div>
					<div>优</div>
					<div>势</div>
				</div>
			</div>
			<div class="main1" id="main1">
				<div>
					<h3>品牌优势<br></h3>
					<p>百年中华老字号</p>
					<p>2008羊奥运会独家运营媒体村中国茶艺室</p>
					<p>2010年世博会特许生产商及零售商</p>
					<p>2014年APEC指定礼品一老北京四季茶</p>
				</div>
				<div>
					<h3>产品优势<br></h3>
					<p>百年中华老字号</p>
					<p>2008羊奥运会独家运营媒体村中国茶艺室</p>
					<p>2010年世博会特许生产商及零售商</p>
					<p>2014年APEC指定礼品一老北京四季茶</p>
				</div>
				<div>
					<h3>服务优势<br></h3>
					<p>百年中华老字号</p>
					<p>2008羊奥运会独家运营媒体村中国茶艺室</p>
					<p>2010年世博会特许生产商及零售商</p>
					<p>2014年APEC指定礼品一老北京四季茶</p>
				</div>
			</div>
			<div class="matop">
				<div class="wenzi" id="zc">
					<div>加</div>
					<div>盟</div>
					<div>政</div>
					<div>策</div>
				</div>
			</div>
			<div class="main2" id="main2">
				<div class="left">
					<h3>意向加盟商</h3>
					<p>标准与规范化经营理念</p>
					<p>经营管理能力</p>
					<p>一定资金实力</p>
				</div>
				<div class="right">
					<h3>意向门店</h3>
					<p>有充足客流</p>
					<p>独立店面</p>
					<p>门面展示效果佳</p>
				</div>
				<img src="images/attr2.png" alt="" id="img1" >
				<img src="images/attr3.png" alt="" class="imgright" id="img2">
			</div>
			<div class="k"></div>
			<div class="matop">
				<div class="wenzi" id="lc">
					<div>加</div>
					<div>盟</div>
					<div>流</div>
					<div>程</div>
				</div>
			</div>
			<div class="main3"  id="main3">
				<div>
					<img src="images/attr4.png" alt="">
					<img src="images/attr4.png" alt="">
					<div>壹</div>
					<span>咨询</span>
				</div>
				<div>
					<img src="images/attr4.png" alt="">
					<img src="images/attr4.png" alt="">
					<div>贰</div>
					<span>申请</span>
				</div>
				<div>
					<img src="images/attr4.png" alt="">
					<img src="images/attr4.png" alt="">
					<div>叁</div>
					<span>选址</span>
				</div>
				<div>
					<img src="images/attr4.png" alt="">
					<img src="images/attr4.png" alt="">
					<div>肆</div>
					<span>评估</span>
				</div>
				<div>
					<img src="images/attr4.png" alt="">
					<img src="images/attr4.png" alt="">
					<div>伍</div>
					<span>签约</span>
				</div>
				<div>
					<img src="images/attr4.png" alt="">
					<img src="images/attr4.png" alt="">
					<div>陆</div>
					<span>筹备</span>
				</div>
				<div>
					<img src="images/attr4.png" alt="">
					<img src="images/attr4.png" alt="">
					<div>柒</div>
					<span>开业</span>
				</div>
			</div>
			<div class="matop">
				<div class="wenzi" id="jm">
					<div>我</div>
					<div>要</div>
					<div>加</div>
					<div>盟</div>
				</div>
			</div>
			<div class="main4"  id="main4">
				<form action="#">
					<div>姓名：</div>
					<input type="text">
					<div>号码：</div>
					<input type="text">
					<div>意向加盟区域：</div>
					<select name="one" id="10">
						<option value="1">选择省市</option>
						<option value="2">北京</option>
						<option value="3">上海</option>
						<option value="4">天津</option>
						<option value="5">重庆</option>
						<option value="6">江苏省</option>
						<option value="7">陕西省</option>
						<option value="8">云南省</option>
						<option value="9">江西省</option>
						<option value="10">西藏自治区</option>
						<option value="11">广西壮族自治区</option>
						<option value="12">甘肃省</option>
						<option value="13">浙江省</option>
						<option value="14">贵州省</option>
						<option value="15">海南省</option>
						<option value="16">河北省</option>
						<option value="17">山东省</option>
						<option value="18">青海省</option>
						<option value="19">广东省</option>
						<option value="20">湖南省</option>
						<option value="21">河南省</option>
						<option value="22">四川省</option>
						<option value="23">湖北省</option>
						<option value="24">福建省</option>
						<option value="25">安徽省</option>
						<option value="26">辽宁省</option>
						<option value="27">山西省</option>
						<option value="28">内蒙古自治区</option>
						<option value="29">宁夏回族自治区</option>
						<option value="30">新疆维吾尔自治区</option>
						<option value="31">台湾</option>
						<option value="32">黑龙江省</option>
						<option value="33">吉林省</option>
						<option value="34">香港特区</option>
						<option value="35">澳门特区</option>
					</select>
					<div>有无房源：</div>
					<select name="one" id="10">
						<option value="1">选择省市</option>
						<option value="2">北京</option>
						<option value="3">上海</option>
						<option value="4">天津</option>
						<option value="5">重庆</option>
						<option value="6">江苏省</option>
						<option value="7">陕西省</option>
						<option value="8">云南省</option>
						<option value="9">江西省</option>
						<option value="10">西藏自治区</option>
						<option value="11">广西壮族自治区</option>
						<option value="12">甘肃省</option>
						<option value="13">浙江省</option>
						<option value="14">贵州省</option>
						<option value="15">海南省</option>
						<option value="16">河北省</option>
						<option value="17">山东省</option>
						<option value="18">青海省</option>
						<option value="19">广东省</option>
						<option value="20">湖南省</option>
						<option value="21">河南省</option>
						<option value="22">四川省</option>
						<option value="23">湖北省</option>
						<option value="24">福建省</option>
						<option value="25">安徽省</option>
						<option value="26">辽宁省</option>
						<option value="27">山西省</option>
						<option value="28">内蒙古自治区</option>
						<option value="29">宁夏回族自治区</option>
						<option value="30">新疆维吾尔自治区</option>
						<option value="31">台湾</option>
						<option value="32">黑龙江省</option>
						<option value="33">吉林省</option>
						<option value="34">香港特区</option>
						<option value="35">澳门特区</option>
					</select>
					<div>备注：</div>
					<textarea name="" id="" cols="30" rows="10"></textarea>
					<input type="submit" class="sub">
				</form>
			</div>
		</div>
		<div class="footer">
			<div class="footTop">
				<div>
					<div class="same">
						<div class="sameTop">联系我们</div>
						<div class="sameBot">
							<ul>
								<li>
									<div class="stL"><img src="images/sy1.png" alt=""></div>
									<div class="stR">
										<h2>订购热线</h2>
										<div></div>
										<p>400-000-0000 / 010-000-0000</p>
									</div>
								</li>
								<li>
									<div class="stL"><img src="images/sy2.png" alt=""></div>
									<div class="stR">
										<h2>邮箱</h2>
										<div></div>
										<p>123456789@126.com</p>
									</div>
								</li>
								<li>
									<div class="stL"><img src="images/sy3.png" alt=""></div>
									<div class="stR">
										<h2>地址</h2>
										<div></div>
										<p>北京市海淀区xxx大厦xxx室</p>
									</div>
								</li>
								<li>
									<div class="stL"><img src="images/sy4.png" alt=""></div>
									<div class="stR">
										<h2>客服QQ</h2>
										<div></div>
										<p>888888888 / 999999999</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="same">
						<div class="sameTop">关于我们</div>
						<div class="sameBot">
							<div class="weixin"><img src="images/sy12.jpg" alt=""><p>关注微信公众号</p></div>
							<div class="shouji"><img src="images/sy12.jpg" alt=""><p>浏览手机站</p></div>
						</div>
					</div>
					<div class="foottsame"></div>
				</div>
			</div>
			<div class="footBot">
				<div>
					<p>
						<a href="">网站首页</a><span>&nbsp;|</span>
						<a href="">产品专区</a><span>&nbsp;|</span>
						<a href="">品牌介绍</a><span>&nbsp;|</span>
						<a href="">招商加盟</a><span>&nbsp;|</span>
						<a href="">专营店</a><span>&nbsp;|</span>
						<a href="">新闻资讯</a><span>&nbsp;|</span>
						<a href="">联系我们</a>
					</p>
					<p>Copyright © 2014-2025,www.xxxxx.com,All rights reserved</p>
				</div>
			</div>
		</div>
	</div>
	<div class="anchor">
		<ul>
			<li><a href="javascript: ;" id="s"><img src="images/sjian.png" alt=""></a></li>
			<li>
				<a href=""><img src="images/phone.png" alt=""></a>
				<span>
					<div>电话直呼</div>
					<div>13888888888</div>
				</span>
			</li>
			<li>
				<a href=""><img src="images/bi.png" alt=""></a>
				<div>在线留言</div>
			</li>
			<li>
				<a href=""><img src="images/youjian.png" alt=""></a>
				<div>发送邮件</div>
			</li>
			<li><a href="#" id="x"><img src="images/xjian.png" alt=""></a></li>
		</ul>
	</div>
	<script src="javascripts/index.js"></script>
	<script src="javascripts/attract.js"></script>
</body>
</html>