<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="shortcut icon" href="images/bird.ico" type="image/x-icon">
	<script src="https://cdn.bootcss.com/less.js/3.0.4/less.js"></script>
	<link rel="stylesheet" href="stylesheets/index.css">
	<script src="javascripts/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div class="wrap">
		<div class="header">
			<div class="heaTop">
				<div>
					<div class="heatL">
						<div><img src="images/sy1.jpg" alt=""></div>
						<div>
							<span>TEA</span>
							<span>WEBSITE</span>
						</div>		
					</div>
					<div class="heatR">
						<div><a href="register">注册</a></div>
						<div><a href="login">登录</a></div>
						<span>
							<a href="javascript: ;" id="user"></a>
							<a href="" id="loginOut">注销</a>
						</span>
					</div>
				</div>
			</div>
			<div class="heaMiddle">
				<div>
					<div class="heamL">
						<ul>
							<li><a href="index">首页</a></li>
							<li><a href="product">产品专区</a></li>
							<li><a href="brand">品牌介绍</a></li>
							<li><a href="attract">招商加盟</a></li>
							<li><a href="zyd">专营店</a></li>
							<li><a href="news">新闻动态</a></li>
							<li><a href="contact">联系我们</a></li>
						</ul>
					</div>
					<div class="heamR">
						<div>
							<input type="text">
							<a href=""><img src="images/search.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<div class="heaBottom">
				<div id="lb1"></div>
				<div id="lb2"></div>
				<span class="zjt"></span>
				<span class="yjt"></span>
			</div>
		</div>
		<div class="main">
			<div class="mainOne">
				<div>
					<div class="mainoL">
						<div class="mlL"><img src="images/sy5.png" alt=""><span id="guan">关于我们</span></div>
						<div class="mlR">
							<p><span>中国文化，底蕴深厚，璀璨夺目；中国茶，经久不衰，生机盎然。xxx创立于1887年，</span></p>
							<p><span>是中国商务部首批认定的“中华老字号”。秉承百年老字号所独有的文化内涵与核心竞</span></p>
							<p><span>争力，不断探索与实践，从一家茶栈成长为享誉全国的茶叶专营企业。</span></p>
							<p><span>北京xxxx茶业股份有限公司以立足中华文化，锻造全球化的茶业金字招牌为愿景，承继</span></p>
							<p><span>百年基业，光大民族品牌，做茶产业专家，推动中国茶和茶文化走向世界；秉持厚德诚</span></p>
							<p><span>信、务实严谨、热情自信、开拓创新的核心价值观，定义好茶标准，传承好茶文化，创</span></p>
							<p><span>造好茶生活。xxx，好茶为您，始终如一。</span></p>
						</div>
					</div>
					<div class="mainoR">
						<img src="images/sy13.jpg" alt="">
						<div id="xzt"><img src="images/sy14.jpg" alt=""></div>
					</div>
				</div>
			</div>
			<div class="xian">
				<div class="xl"></div>
				<div class="xc" id="xcOne">
					<p><span>热</span></p>
					<div></div>
					<p><span>销</span></p>
					<div></div>
					<p><span>产</span></p>
					<div></div>
					<p><span>品</span></p>
				</div>
				<div class="xr"></div>
			</div>
			<div class="mainTwo">
				<div>
					<div class="mtTop">
						<div id="mtTopOne">
							<img src="images/sy5.jpg" alt="">
							<img src="images/sy15.jpg" alt="">
						</div>
						<div>
							<div class="content" id="contentOne">
								<div><span>正宗黄山太平猴魁60g</span></div>
								<p><span>入杯冲泡，缓缓开展，或沉或浮，犹如“刀枪</span></p>
								<p><span>云集、龙飞凤舞”，叶底嫩绿匀亮，芽叶成朵</span></p>
								<p><span>肥壮，汤色清绿明净，兰香高爽，滋味甘醇，</span></p>
								<p><span>有独特的“猴韵”</span></p>
								<h1 id="hOne">
									<img src="images/sy8.png" alt="">
									<span>抢</span>
									<span>￥778</span>
								</h1>
							</div>
						</div>
					</div>
					<div class="mtTop">
						
						<div>
							<div class="content" id="contentTwo">
								<div><span>正宗黄山太平猴魁60g</span></div>
								<p><span>入杯冲泡，缓缓开展，或沉或浮，犹如“刀枪</span></p>
								<p><span>云集、龙飞凤舞”，叶底嫩绿匀亮，芽叶成朵</span></p>
								<p><span>肥壮，汤色清绿明净，兰香高爽，滋味甘醇，</span></p>
								<p><span>有独特的“猴韵”</span></p>
								<h1 id="hTwo">
									<img src="images/sy8.png" alt="">
									<span>抢</span>
									<span>￥778</span>
								</h1>
							</div>
						</div>
						<div id="mtTopTwo">
							<img src="images/sy6.jpg" alt="">
							<img src="images/sy16.jpg" alt="">
						</div>
					</div>
					<div class="mtTop">
						<div id='mtTopThree'>
							<img src="images/sy7.jpg" alt="">
							<img src="images/sy17.jpg" alt="">
						</div>
						<div>
							<div class="content" id="contentThree">
								<div><span>正宗黄山太平猴魁60g</span></div>
								<p><span>入杯冲泡，缓缓开展，或沉或浮，犹如“刀枪</span></p>
								<p><span>云集、龙飞凤舞”，叶底嫩绿匀亮，芽叶成朵</span></p>
								<p><span>肥壮，汤色清绿明净，兰香高爽，滋味甘醇，</span></p>
								<p><span>有独特的“猴韵”</span></p>
								<h1 id="hThree">
									<img src="images/sy8.png" alt="">
									<span>抢</span>
									<span>￥778</span>
								</h1>
							</div>
						</div>
					</div>
					<div class="tu1"><img src="images/sy7.png" alt=""></div>
					<div class="tu2"><img src="images/sy6.png" alt=""></div>
				</div>
			</div>
			<div class="xian">
				<div class="xl"></div>
				<div class="xc" id="xcTwo">
					<p><span>产</span></p>
					<div></div>
					<p><span>品</span></p>
					<div></div>
					<p><span>专</span></p>
					<div></div>
					<p><span>区</span></p>
				</div>
				<div class="xr"></div>
			</div>
			<div class="mainThree">
				<ul>
					<li>
						<div id="mat">
							<a href=""><img src="images/sy8.jpg" alt=""></a>
							<div></div>
							<a href="">柠檬红茶<br>（独立小包装2.5gx5包）</a>
							<p>￥12.8</p>
						</div>
					</li>
					<li>
						<div id="mat">
							<a href=""><img src="images/sy9.jpg" alt=""></a>
							<div></div>
							<a href="">柠檬红茶<br>（独立小包装2.5gx5包）</a>
							<p>￥12.8</p>
						</div>
					</li>
					<li>
						<div id="mat">
							<a href=""><img src="images/sy10.jpg" alt=""></a>
							<div></div>
							<a href="">柠檬红茶<br>（独立小包装2.5gx5包）</a>
							<p>￥12.8</p>
						</div>
					</li>
					<li>
						<div id="mat">
							<a href=""><img src="images/sy9.jpg" alt=""></a>
							<div></div>
							<a href="">柠檬红茶<br>（独立小包装2.5gx5包）</a>
							<p>￥12.8</p>
						</div>
					</li>
					<li>
						<div id="mat">
							<a href=""><img src="images/sy10.jpg" alt=""></a>
							<div></div>
							<a href="">柠檬红茶<br>（独立小包装2.5gx5包）</a>
							<p>￥12.8</p>
						</div>
					</li>
					<li>
						<div id="mat">
							<a href=""><img src="images/sy8.jpg" alt=""></a>
							<div></div>
							<a href="">柠檬红茶<br>（独立小包装2.5gx5包）</a>
							<p>￥12.8</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="xian">
				<div class="xl"></div>
				<div class="xc" id="xcThree">
					<p><span>新</span></p>
					<div></div>
					<p><span>闻</span></p>
					<div></div>
					<p><span>资</span></p>
					<div></div>
					<p><span>讯</span></p>
				</div>
				<div class="xr"></div>
			</div>
			<div class="mainFour">
				<div>
					<div class="mfL">
						<ul>
							<li>
								<div>
									<p>22</p>
									<p>2018-5</p>
								</div>
								<span>
									<a href="">xx茶业总部全方位升级，全新模式震惊业界</a>
									<p>xx茶业总部全方位升级，全新模式震惊业界xx茶业总部全方位升级，全新模式震惊业界xx茶业总部全方位升级，全新模式震惊业界……</p>
								</span>
							</li>
							<li>
								<div>
									<p>22</p>
									<p>2018-5</p>
								</div>
								<span>
									<a href="">xx茶业总部全方位升级，全新模式震惊业界</a>
									<p>xx茶业总部全方位升级，全新模式震惊业界xx茶业总部全方位升级，全新模式震惊业界xx茶业总部全方位升级，全新模式震惊业界……</p>
								</span>
							</li>
							<li>
								<div>
									<p>22</p>
									<p>2018-5</p>
								</div>
								<span>
									<a href="">xx茶业总部全方位升级，全新模式震惊业界</a>
									<p>xx茶业总部全方位升级，全新模式震惊业界xx茶业总部全方位升级，全新模式震惊业界xx茶业总部全方位升级，全新模式震惊业界……</p>
								</span>
							</li>
							<li>
								<div>
									<p>22</p>
									<p>2018-5</p>
								</div>
								<span>
									<a href="">xx茶业总部全方位升级，全新模式震惊业界</a>
									<p>xx茶业总部全方位升级，全新模式震惊业界xx茶业总部全方位升级，全新模式震惊业界xx茶业总部全方位升级，全新模式震惊业界……</p>
								</span>
							</li>
						</ul>
					</div>
					<div class="mfR">
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
			</div>		
		</div>
		<div class="footer">
			<div class="footTop">
				<div>
					<div class="same">
						<div class="sameTop">联系我们</div>
						<div class="sameBot">
							<ul>
								<li>
									<div class="stL"><img src="images/sy1.png" alt=""></div>
									<div class="stR">
										<h2>订购热线</h2>
										<div></div>
										<p>400-000-0000 / 010-000-0000</p>
									</div>
								</li>
								<li>
									<div class="stL"><img src="images/sy2.png" alt=""></div>
									<div class="stR">
										<h2>邮箱</h2>
										<div></div>
										<p>123456789@126.com</p>
									</div>
								</li>
								<li>
									<div class="stL"><img src="images/sy3.png" alt=""></div>
									<div class="stR">
										<h2>地址</h2>
										<div></div>
										<p>北京市海淀区xxx大厦xxx室</p>
									</div>
								</li>
								<li>
									<div class="stL"><img src="images/sy4.png" alt=""></div>
									<div class="stR">
										<h2>客服QQ</h2>
										<div></div>
										<p>888888888 / 999999999</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="same">
						<div class="sameTop">关于我们</div>
						<div class="sameBot">
							<div class="weixin"><img src="images/sy12.jpg" alt=""><p>关注微信公众号</p></div>
							<div class="shouji"><img src="images/sy12.jpg" alt=""><p>浏览手机站</p></div>
						</div>
					</div>
					<div class="foottsame"></div>
				</div>
			</div>
			<div class="footBot">
				<div>
					<p>
						<a href="">网站首页</a><span>&nbsp;|</span>
						<a href="">产品专区</a><span>&nbsp;|</span>
						<a href="">品牌介绍</a><span>&nbsp;|</span>
						<a href="">招商加盟</a><span>&nbsp;|</span>
						<a href="">专营店</a><span>&nbsp;|</span>
						<a href="">新闻资讯</a><span>&nbsp;|</span>
						<a href="">联系我们</a>
					</p>
					<p>Copyright © 2014-2025,www.xxxxx.com,All rights reserved</p>
				</div>
			</div>
		</div>
	</div>
	<div class="anchor">
		<ul>
			<li><a href="javascript: ;" id="s"><img src="images/sjian.png" alt=""></a></li>
			<li>
				<a href=""><img src="images/phone.png" alt=""></a>
				<span>
					<div>电话直呼</div>
					<div>13888888888</div>
				</span>
			</li>
			<li>
				<a href=""><img src="images/bi.png" alt=""></a>
				<div>在线留言</div>
			</li>
			<li>
				<a href=""><img src="images/youjian.png" alt=""></a>
				<div>发送邮件</div>
			</li>
			<li><a href="#" id="x"><img src="images/xjian.png" alt=""></a></li>
		</ul>
	</div>
	<script src="javascripts/index.js"></script>
</body>
</html>