<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="UTF-8">
	<title>news</title>
	<link rel="shortcut icon" href="images/bird.ico" type="image/x-icon">
	<link rel="stylesheet" href="stylesheets/news.css">
	<script src="javascripts/jquery-1.11.1.min.js"></script>
	<script src="javascripts/news.js"></script>
</head>
<body>
	<div class="worp">
		<div class="header">
			<div class="heaTop">
				<div>
					<div class="heatL">
						<div><img src="images/sy1.jpg" alt=""></div>
						<div>
							<span>TEA</span>
							<span>WEBSITE</span>
						</div>		
					</div>
					<div class="heatR">
						<div><a href="">注册</a></div>
						<div><a href="">登录</a></div>
					</div>
				</div>
			</div>
			<div class="heaMiddle">
				<div>
					<div class="heamL">
						<ul>
							<li><a href="index">首页</a></li>
							<li><a href="product">产品专区</a></li>
							<li><a href="brand">品牌介绍</a></li>
							<li><a href="attract">招商加盟</a></li>
							<li><a href="zyd">专营店</a></li>
							<li><a href="news">新闻动态</a></li>
							<li><a href="contact">联系我们</a></li>

						</ul>
					</div>
					<div class="heamR">
						<div>
							<input type="text">
							<a href=""><img src="images/search.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<div class="heaBottom">
				<div></div>
				<div></div>
				<span class="zjt"></span>
				<span class="yjt"></span>
			</div>
		</div>
		<div class="main">
			<div class="matop">
				<div>
					<img src="images/news2.png" alt="">
					<a href="index">首页</a>
					<span>>></span>
					<a href="javascript:void(0)" id="xinw">新闻动态 </a>
					<span id="hany2">>></span>
					<a href="javascript:void(0)" id="hany1">行业动态 </a>
					<span id="cont2">>></span>
					<a href="javascript:void(0)" id="cont3"></a>
				</div>
			</div>
			<div class="mabod">
				<div class="mbl" id="cont">
					<div class="mbrT"><a href="javascript:void(0)">新闻动态</a></div>
					<div class="mbrB" id="hany3">
						<a href="javascript:void(0)" id="hanye">行业动态</a>
						<img src="images/news3.png" alt="" class="zou">
						<img src="images/news4.png" alt="" class="zou1">
					</div>
					<div class="mbrB" style="border-left: 3px solid #D2A069;display:none;" id="hany4">
						<a href="javascript:void(0)" style="color: #d2a069">行业动态</a>
						<img src="images/news4.png" alt="" class="zou1" style="display:block">
					</div>
				</div>
				<div class="mbr" id ="cont5">
					<div class="mblT">
						<span></span>
						<a href="javascript:void(0)" id="hany5">新闻动态</a>
						<a href="javascript:void(0)" id="hany6" style="display:none;">行业动态</a>
					</div>
					<div class="mblB">
						<ul id="ul">
						</ul>
						<div class="mbb">
							<a href="javascript:void(0)"><span >共有<font id="fenye1"><%=Math.ceil(title[0].one/5)%></font>页</span></a>
							<a href="javascript:void(0)"><span id="fenye2">首页</span></a>
							<a href="javascript:void(0)"><span id="fenye3">上一页</span></a>
							<a href="javascript:void(0)"><span id="fenye4">1</span></a>
							<a href="javascript:void(0)"><span id="fenye5">下一页</span></a>
							<a href="javascript:void(0)"><span id="fenye6">尾页</span></a>
						</div>
					</div>
				</div>
				<div class="mbr" id="cont0" style="display:none">
					<div class="mblT">
						<span></span>
						<a href="javascript:void(0)" id = cont1></a>
					</div>
					<div class="mblB">
						<div id="content"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footTop">
				<div>
					<div class="same">
						<div class="sameTop">联系我们</div>
						<div class="sameBot">
							<ul>
								<li>
									<div class="stL"><img src="images/sy1.png" alt=""></div>
									<div class="stR">
										<h2>订购热线</h2>
										<div></div>
										<p>400-000-0000 / 010-000-0000</p>
									</div>
								</li>
								<li>
									<div class="stL"><img src="images/sy2.png" alt=""></div>
									<div class="stR">
										<h2>邮箱</h2>
										<div></div>
										<p>123456789@126.com</p>
									</div>
								</li>
								<li>
									<div class="stL"><img src="images/sy3.png" alt=""></div>
									<div class="stR">
										<h2>地址</h2>
										<div></div>
										<p>北京市海淀区xxx大厦xxx室</p>
									</div>
								</li>
								<li>
									<div class="stL"><img src="images/sy4.png" alt=""></div>
									<div class="stR">
										<h2>客服QQ</h2>
										<div></div>
										<p>888888888 / 999999999</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="same">
						<div class="sameTop">关于我们</div>
						<div class="sameBot">
							<div class="weixin"><img src="images/sy12.jpg" alt=""><p>关注微信公众号</p></div>
							<div class="shouji"><img src="images/sy12.jpg" alt=""><p>浏览手机站</p></div>
						</div>
					</div>
					<div class="foottsame"></div>
				</div>
			</div>
			<div class="footBot">
				<div>
					<p>
						<a href="">网站首页</a><span>&nbsp;|</span>
						<a href="">产品专区</a><span>&nbsp;|</span>
						<a href="">品牌介绍</a><span>&nbsp;|</span>
						<a href="">招商加盟</a><span>&nbsp;|</span>
						<a href="">专营店</a><span>&nbsp;|</span>
						<a href="">新闻资讯</a><span>&nbsp;|</span>
						<a href="">联系我们</a>
					</p>
					<p>Copyright © 2014-2025,www.xxxxx.com,All rights reserved</p>
				</div>
			</div>
		</div>
	</div>
	<div class="anchor">
		<ul>
			<li><a href="javascript: ;" id="s"><img src="images/sjian.png" alt=""></a></li>
			<li>
				<a href=""><img src="images/phone.png" alt=""></a>
				<span>
					<div>电话直呼</div>
					<div>13888888888</div>
				</span>
			</li>
			<li>
				<a href=""><img src="images/bi.png" alt=""></a>
				<div>在线留言</div>
			</li>
			<li>
				<a href=""><img src="images/youjian.png" alt=""></a>
				<div>发送邮件</div>
			</li>
			<li><a href="#" id="x"><img src="images/xjian.png" alt=""></a></li>
		</ul>
	</div>
	<script src="javascripts/index.js"></script>
</body>
</html>