@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.heaTop {
  width: 100%;
  height: 120px;
}
.heaTop > div {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.heatL {
  width: 300px;
  height: 100%;
  float: left;
}
.heatL > div:nth-child(1) {
  float: left;
}
.heatL > div:nth-child(2) {
  float: right;
}
.heatL > div > span {
  font-size: 28px;
  font-family: 微软雅黑;
  color: #D2A069;
  line-height: 120px;
  margin-bottom: 20px;
}
.heatL > div > span:nth-child(2) {
  color: #444444;
}
.heatR {
  width: 200px;
  height: 100%;
  float: right;
}
.heatR > div > a {
  display: block;
  color: #E1B787;
  width: 80px;
  height: 38px;
  line-height: 40px;
  border-radius: 20px;
  border: 1px solid #E1B787;
  margin-top: 40px;
  text-align: center;
}
.heatR > div > a:hover {
  background: #D2A069;
  color: white;
}
.heatR > div:nth-child(1) {
  float: left;
  margin-right: 10px;
}
.heatR > div:nth-child(2) {
  float: right;
  margin-left: 10px;
}
.heaMiddle {
  width: 100%;
  height: 60px;
  background: #282828;
}
.heaMiddle > div {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  background: #282828;
}
.heamL {
  width: 875px;
  height: 60px;
  float: left;
}
.heamL > ul {
  width: 875px;
  height: 60px;
}
.heamL > ul > li > a {
  display: block;
  width: 120px;
  height: 60px;
  float: left;
  text-align: center;
  line-height: 60px;
  background: #282828;
  font-size: 16px;
  color: #B6B6B6;
}
.heamL > ul > li > a:hover {
  background: #D2A069;
  color: white;
  transition: .5s;
}
.heamL > ul > li:nth-child(1) > a {
  background: #D2A069;
  color: white;
  margin-right: 20px;
}
.heamR {
  width: 325px;
  height: 60px;
  float: right;
}
.heamR > div {
  width: 210px;
  height: 30px;
  margin: 15px 0 15px 115px;
}
.heamR > div > input {
  width: 180px;
  height: 30px;
  float: left;
  outline: none;
  background: #494949;
  border: 0px;
  color: white;
}
.heamR > div > a {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: #D2A069;
}
.heamR > div > a > img {
  width: 100%;
  height: 100%;
}
.heaBottom {
  width: 100%;
  height: 720px;
  position: relative;
  overflow: hidden;
}
.heaBottom > div {
  width: 100%;
  height: 100%;
  position: absolute;
}
.heaBottom > span {
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 95%;
  overflow: hidden;
  border-radius: 50px;
  background: #ccc;
}
.zjt {
  left: 48%;
  border: 1px solid #fff;
}
.yjt {
  right: 48%;
}
.heaBottom > div:nth-child(1) {
  background: url("../images/sy2.jpg") no-repeat center;
}
.heaBottom > div:nth-child(2) {
  background: url("../images/sy3.jpg") no-repeat center;
  top: 0;
  left: 100%;
}
.mainOne > div {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  padding: 80px 0;
}
.mainoL {
  width: 780px;
  height: 100%;
  float: left;
}
.mlL {
  width: 170px;
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  transform: scale(0.1, 0.1);
}
.mlL > span {
  display: block;
  width: 28px;
  height: 170px;
  position: absolute;
  font-weight: bold;
  font-size: 29px;
  color: #DBA76D;
  top: 20px;
  left: 55px;
  transform: translateY(300px);
}
.mlR {
  width: 565px;
  height: 100%;
  float: right;
  padding-top: 20px;
  transform: scale(0.1, 0.1);
}
.mlR > p {
  overflow: hidden;
}
.mlR > p > span {
  font-family: 微软雅黑;
  font-size: 14px;
  line-height: 1.8;
  color: #888888;
  position: relative;
}
.mainoR {
  width: 420px;
  height: 100%;
  float: right;
  position: relative;
  overflow: hidden;
}
.mainoR > img {
  transform: translateY(300px);
}
.mainoR > div {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(90deg);
  opacity: 0;
}
.xian {
  width: 100%;
  height: 55px;
  position: relative;
  padding: 10px 0;
}
.xl {
  position: absolute;
  width: 35%;
  height: 1px;
  background: #D2A069;
  top: 50%;
}
.xc {
  position: absolute;
  width: 400px;
  height: 100%;
  left: 35%;
}
.xc > div {
  display: inline-block;
  background: #D2A069;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-left: 15px;
  margin-bottom: 20px;
}
.xc > p {
  width: 53px;
  height: 53px;
  display: inline-block;
  text-align: center;
  border: 1px solid #D2A069;
  border-radius: 40px;
  margin-left: 15px;
  overflow: hidden;
  position: relative;
}
.xc > p > span {
  font-family: 楷体;
  font-size: 42px;
  color: #DBA76D;
  line-height: 50px;
  position: absolute;
  top: 55px;
}
.xr {
  position: absolute;
  width: 35%;
  height: 1px;
  background: #D2A069;
  right: 0;
  top: 50%;
}
.mainTwo > div {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.tu1 {
  position: absolute;
  left: 35%;
  top: 15%;
}
.tu2 {
  position: absolute;
  left: 23%;
  top: 55%;
}
.mtTop {
  width: 100%;
  height: 500px;
  padding: 10px 0;
}
.mtTop > div {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.mtTop > div:nth-child(1) {
  float: left;
  z-index: 2;
}
.mtTop > div:nth-child(1) > img {
  transform: translateX(-600px);
  position: absolute;
  left: 0;
  top: 0;
}
.mtTop > div:nth-child(1) > img:nth-child(2) {
  position: absolute;
  left: -600px;
  top: 0;
}
.mtTop > div:nth-child(2) {
  float: right;
  position: relative;
  z-index: 2;
}
#mtTopTwo > img {
  transform: translateX(600px);
  position: absolute;
  top: 0;
  left: 0;
}
#mtTopTwo > img:nth-child(2) {
  position: absolute;
  left: 600px;
  top: 0;
}
.content {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-top: 100px;
}
.content > div {
  width: 236px;
  height: 50px;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.content > div > span {
  font-size: 24px;
  font-family: 微软雅黑;
  color: #555555;
  line-height: 52px;
  position: absolute;
  top: -52px;
}
.content > p {
  width: 100%;
  height: 28px;
  position: relative;
}
.content > p > span {
  color: #888888;
  font-size: 14px;
  font-family: 微软雅黑;
  line-height: 2;
  position: absolute;
  top: 50px;
}
.content > h1 {
  width: 175px;
  height: 64px;
  display: block;
  position: relative;
  top: 20px;
  overflow: hidden;
}
.content > h1 > img {
  transform: translateY(72px);
}
.content > h1 > span {
  font-size: 24px;
  color: #FFFFFF;
  position: absolute;
  top: 15px;
  left: 70px;
}
.content > h1 > span:nth-child(2) {
  left: 23px;
}
.mainThree > ul {
  width: 1200px;
  height: 800px;
  padding: 50px 0;
  margin: 0 auto;
}
.mainThree > ul > li {
  width: 400px;
  height: 400px;
  float: left;
  overflow: hidden;
}
.mainThree > ul > li > div {
  width: 260px;
  margin: 0 auto;
  transform: translateY(400px);
}
.mainThree > ul > li > div:hover {
  box-shadow: 0px 0px  50px #ccc;
  position: relative;
}
.mainThree > ul > li > div > div {
  width: 200px;
  height: 1px;
  background: #EDEDED;
  margin: 0 auto;
}
.mainThree > ul > li > div > a {
  display: block;
  text-align: center;
  padding: 15px 0;
  font-size: 15px;
  color: #555555;
}
.mainThree > ul > li > div > a:hover {
  color: #DBA76D;
}
.mainThree > ul > li > div > p {
  text-align: center;
  font-size: 17px;
  color: #FF4351;
}
.mainFour > div {
  width: 1200px;
  margin: 0 auto;
  height: 400px;
  padding: 50px 0;
}
.mfL {
  width: 60%;
  height: 100%;
  float: left;
}
.mfL > ul {
  width: 700px;
  height: 100%;
  overflow: hidden;
}
.mfL > ul > li {
  width: 100%;
  height: 59px;
  padding: 20px 0;
  border-bottom: 1px dotted #DBD4CD;
  transform: translateX(-720px);
}
.mfL > ul > li > div {
  width: 60px;
  height: 60px;
  background: #D2A069;
  float: left;
  margin-left: 30px;
}
.mfL > ul > li > div > p {
  text-align: center;
}
.mfL > ul > li > div > p:nth-child(1) {
  font-size: 26px;
  color: white;
  font-weight: 800px;
}
.mfL > ul > li > div > p:nth-child(2) {
  font-size: 14px;
  color: white;
}
.mfL > ul > li > span {
  width: 550px;
  height: 80px;
  float: right;
}
.mfL > ul > li > span > a {
  font-size: 14px;
  font-weight: 800;
  color: #969696;
}
.mfL > ul > li > span > a:hover {
  color: #DBA76D;
}
.mfL > ul > li > span > p {
  font-size: 12px;
  color: #CFD0DB;
  line-height: 1.8;
}
.mfR {
  width: 40%;
  height: 100%;
  float: right;
}
.mfR > div {
  float: left;
  height: 100%;
}
.mfR > div:nth-child(1) {
  width: 25%;
  height: 100%;
  background: url('../images/GEM01.jpg');
}
.mfR > div:nth-child(2) {
  width: 25%;
  height: 100%;
  background: url('../images/GEM02.jpg');
}
.mfR > div:nth-child(3) {
  width: 25%;
  height: 100%;
  background: url('../images/GEM03.jpg');
}
.mfR > div:nth-child(4) {
  width: 25%;
  height: 100%;
  background: url('../images/GEM04.jpg');
}
.footTop {
  background: #FFFFFF;
}
.footTop > div {
  width: 1200px;
  height: 242px;
  margin: 0 auto;
  padding: 30px 0;
}
.same {
  width: 50%;
  height: 100%;
}
.same:nth-child(1) {
  float: left;
}
.same:nth-child(2) {
  float: right;
}
.sameTop {
  font-size: 18px;
  color: #D2A069;
  margin-bottom: 20px;
}
.sameBot {
  width: 600px;
  height: 198px;
}
.sameBot > ul {
  width: 100%;
  height: 100%;
}
.sameBot > ul > li {
  width: 50%;
  height: 50%;
  float: left;
}
.stL {
  float: left;
  width: 20%;
  height: 100%;
}
.stR {
  float: right;
  width: 80%;
  height: 100%;
}
.stR > h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  color: #666666;
  padding-bottom: 20px;
}
.stR > p {
  font-size: 14px;
  color: #888888;
  padding-top: 20px;
}
.stR > div {
  width: 20px;
  height: 1px;
  background: #D2A069;
}
.same:nth-child(2) > .sameTop {
  padding-left: 200px;
}
.same:nth-child(2) > .sameBot > div {
  display: inline-block;
  width: 134px;
  height: 100%;
}
.same:nth-child(2) > .sameBot > div:nth-child(1) {
  margin-left: 200px;
}
.same:nth-child(2) > .sameBot > div:nth-child(2) {
  margin-left: 100px;
}
.same:nth-child(2) > .sameBot > div > img {
  margin-top: 25px;
  width: 100%;
}
.same:nth-child(2) > .sameBot > div > p {
  text-align: center;
  font-size: 14px;
  color: #888888;
}
.footBot {
  background: #222222;
  width: 100%;
}
.footBot > div {
  width: 1200px;
  padding: 20px 0;
  margin: 0 auto;
  background: #222222;
}
.footBot > div > p {
  width: 100%;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}
.footBot > div > p > a {
  line-height: 35px;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}
.footBot > div > p > a:hover {
  color: #D2A069;
}
.footBot > div > p > span {
  color: #999;
}
.anchor {
  width: 50px;
  height: 250px;
  position: fixed;
  right: 0;
  top: 50%;
  background: #C1BFC0;
  border-radius: 10px 0 0 10px;
  z-index: 9;
}
.anchor > ul {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}
.anchor > ul > li {
  width: 100%;
  height: 50px;
  position: relative;
  z-index: 2;
}
.anchor > ul > li > a {
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 60px;
  position: absolute;
  z-index: 3;
}
.anchor > ul > li > a > img {
  width: 26px;
  height: 26px;
}
.anchor > ul > li:nth-child(2) > span {
  width: 200px;
  height: 150px;
  background: #C1BFC0;
  position: absolute;
  top: 0;
  left: 100px;
  z-index: 2;
  border-radius: 10px 0 0 10px;
}
.anchor > ul > li:nth-child(2) > span > div {
  width: 100%;
  height: 50%;
  text-align: center;
  line-height: 75px;
  color: white;
}
.anchor > ul > li:nth-child(2) > div > div:nth-child(1) {
  border-bottom: 1px solid #fff;
}
.anchor > ul > li:nth-child(3) > div {
  width: 100px;
  height: 50px;
  background: #C1BFC0;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 100px;
  text-align: center;
  line-height: 50px;
  color: white;
  border-radius: 10px 0 0 10px;
}
.anchor > ul > li:nth-child(4) > div {
  width: 100px;
  height: 50px;
  background: #C1BFC0;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 100px;
  text-align: center;
  line-height: 50px;
  color: white;
  border-radius: 10px 0 0 10px;
}
div.main {
  width: 100%;
}
div.main div.matop {
  margin-top: 100px;
  height: 65px;
  background: url(../images/zyd7.jpg) no-repeat center;
}
div.main div.matop #bj {
  opacity: 0;
  position: relative;
  top: 100px;
}
div.main div.matop div.wenzi {
  margin-left: 501px;
  width: 377px;
  height: 55px;
}
div.main div.matop div.wenzi ::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
div.main div.matop div.wenzi div {
  font-size: 40px;
  margin-top: 5px;
  color: #DBA76D;
  float: left;
  width: 20%;
  height: 100%;
  margin-left: 15px;
}
div.main div.maMap {
  width: 90%;
  height: 500px;
  margin: 0 auto;
  margin-top: 30px;
}
div.main div.lxfs {
  width: 86%;
  height: 545px;
  margin: 0 auto;
  margin-top: -50px;
  position: relative;
  z-index: 5;
  background: url(../images/contact1.png) no-repeat center / contain;
}
div.main div.lxfs div.lxL {
  width: 40%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  padding: 0 50px;
  padding-top: 40px;
}
div.main div.lxfs div.lxL span {
  font-size: 18px;
  color: #D2A069;
  font-weight: 700;
}
div.main div.lxfs div.lxL div {
  width: 100%;
  height: 120px;
}
div.main div.lxfs div.lxL div p {
  font-size: 16px;
  color: #888;
  line-height: 1.8;
}
div.main div.lxfs div.lxL div div.left {
  width: 50%;
  float: left;
  margin-top: 20px;
}
div.main div.lxfs div.lxL div div.left p {
  font-size: 16px;
  color: #888;
  line-height: 1.8;
}
div.main div.lxfs div.lxL div div.right {
  width: 50%;
  float: right;
  margin-top: 20px;
}
div.main div.lxfs div.lxL div div.right p {
  font-size: 16px;
  color: #888;
  line-height: 1.8;
}
div.main div.lxfs div.lxR {
  width: 60%;
  height: 100%;
  background: yellow;
  float: right;
  box-sizing: border-box;
  padding: 0 50px;
  padding-top: 40px;
}
div.main div.lxfs div.lxR span {
  font-size: 18px;
  color: #D2A069;
  font-weight: 700;
}
