<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>news</title>
	<link rel="stylesheet" href="./css./news.css">
	<script src="./javascript./jquery-1.11.1.min.js"></script>
</head>
<body>
	<div class="worp">
		<div class="header">
			<div class="heaTop">
				<div>
					<div class="heatL">
						<div><img src="images/sy1.jpg" alt=""></div>
						<div>
							<span>TEA</span>
							<span>WEBSITE</span>
						</div>		
					</div>
					<div class="heatR">
						<div><a href="">注册</a></div>
						<div><a href="">登录</a></div>
					</div>
				</div>
			</div>
			<div class="heaMiddle">
				<div>
					<div class="heamL">
						<ul>
							<li><a href="">首页</a></li>
							<li><a href="">产品专区</a></li>
							<li><a href="">品牌介绍</a></li>
							<li><a href="">招商加盟</a></li>
							<li><a href="">专营店</a></li>
							<li><a href="">新闻动态</a></li>
							<li><a href="">联系我们</a></li>
						</ul>
					</div>
					<div class="heamR">
						<div>
							<input type="text">
							<a href=""><img src="images/search.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<div class="heaBottom">
				
			</div>
		</div>
		<div class="main">
			<div class="matop">
				<div>
					<img src="./images./news2.png" alt="">
					<a href="#">首页</a>
					<span>>></span>
					<a href="#">新闻动态 </a>
					<span>>></span>
					<a href="#">行业动态 </a>
				</div>
			</div>
			<div class="mabod">
				<div class="mbl">
					<div class="mbrT"><a href="#">新闻动态</a></div>
					<div class="mbrB" style="border-left: 3px solid #D2A069;">
						<a href="#" style="color: #d2a069">行业动态</a>
						<img src="./images./news4.png" alt="" class="zou1" style="display:block">
					</div>
				</div>
				<div class="mbr">
					<div class="mblT">
						<span></span>
						<a href="#">行业动态</a>
					</div>
					<div class="mblB">
						<ul>
							<li>
								<img src="./images./news5.png" alt="">
								<a href="#">茶叶市场理当回归平民本色</a>
								<span>2017-06-28</span>
							</li>
							<li>
								<img src="./images./news5.png" alt="">
								<a href="#">铁观音苦瓜茶成最受欢迎防暑降温茶</a>
								<span>2017-06-28</span>
							</li>
							<li>
								<img src="./images./news5.png" alt="">
								<a href="#">茶叶市场理当回归平民本色</a>
								<span>2017-06-28</span>
							</li>
							<li>
								<img src="./images./news5.png" alt="">
								<a href="#">茶叶市场理当回归平民本色</a>
								<span>2017-06-28</span>
							</li>
							<li>
								<img src="./images./news5.png" alt="">
								<a href="#">茶叶市场理当回归平民本色</a>
								<span>2017-06-28</span>
							</li>
							<li>
								<img src="./images./news5.png" alt="">
								<a href="#">茶叶市场理当回归平民本色</a>
								<span>2017-06-28</span>
							</li>
							<li>
								<img src="./images./news5.png" alt="">
								<a href="#">茶叶市场理当回归平民本色</a>
								<span>2017-06-28</span>
							</li>
							<li>
								<img src="./images./news5.png" alt="">
								<a href="#">茶叶市场理当回归平民本色</a>
								<span>2017-06-28</span>
							</li>
							<li>
								<img src="./images./news5.png" alt="">
								<a href="#">茶叶市场理当回归平民本色</a>
								<span>2017-06-28</span>
							</li>
							<li>
								<img src="./images./news5.png" alt="">
								<a href="#">茶叶市场理当回归平民本色</a>
								<span>2017-06-28</span>
							</li>
						</ul>
						<div class="mbb">
							<span>共有1页</span>
							<span>首页</span>
							<span>上一页</span>
							<span>1</span>
							<span>下一页</span>
							<span>尾页</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footTop">
				<div>
					<div class="same">
						<div class="sameTop">联系我们</div>
						<div class="sameBot">
							<ul>
								<li>
									<div class="stL"><img src="images/sy1.png" alt=""></div>
									<div class="stR">
										<h2>订购热线</h2>
										<div></div>
										<p id="lxwm">400-000-0000 / 010-000-0000</p>
									</div>
								</li>
								<li>
									<div class="stL"><img src="images/sy2.png" alt=""></div>
									<div class="stR">
										<h2>邮箱</h2>
										<div></div>
										<p id="lxwm">123456789@126.com</p>
									</div>
								</li>
								<li>
									<div class="stL"><img src="images/sy3.png" alt=""></div>
									<div class="stR">
										<h2>地址</h2>
										<div></div>
										<p id="lxwm">北京市海淀区xxx大厦xxx室</p>
									</div>
								</li>
								<li>
									<div class="stL"><img src="images/sy4.png" alt=""></div>
									<div class="stR">
										<h2>客服QQ</h2>
										<div></div>
										<p id="lxwm">888888888 / 999999999</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="same">
						<div class="sameTop">关于我们</div>
						<div class="sameBot">
							<div class="weixin"><img src="images/sy12.jpg" alt=""><p id="lxwm">关注微信公众号</p></div>
							<div class="shouji"><img src="images/sy12.jpg" alt=""><p id="lxwm">浏览手机站</p></div>
						</div>
					</div>
					<div class="foottsame"></div>
				</div>
			</div>
			<div class="footBot">
				<div>
					<p>
						<a href="">网站首页</a><span>&nbsp;|</span>
						<a href="">产品专区</a><span>&nbsp;|</span>
						<a href="">品牌介绍</a><span>&nbsp;|</span>
						<a href="">招商加盟</a><span>&nbsp;|</span>
						<a href="">专营店</a><span>&nbsp;|</span>
						<a href="">新闻资讯</a><span>&nbsp;|</span>
						<a href="">联系我们</a>
					</p>
					<p>Copyright © 2014-2025,www.xxxxx.com,All rights reserved</p>
				</div>
			</div>
		</div>
	</div>
	<script src="./javascript./zyd.js"></script>
</body>
</html>