<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="stylesheets/zyd.css">
	<script src="javascripts/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div class="worp">
		<div class="header">
			<div class="heaTop">
				<div>
					<div class="heatL">
						<div><img src="images/sy1.jpg" alt=""></div>
						<div>
							<span>TEA</span>
							<span>WEBSITE</span>
						</div>		
					</div>
					<div class="heatR">
						<div><a href="">注册</a></div>
						<div><a href="">登录</a></div>
					</div>
				</div>
			</div>
			<div class="heaMiddle">
				<div>
					<div class="heamL">
						<ul>
							<li><a href="">首页</a></li>
							<li><a href="">产品专区</a></li>
							<li><a href="">品牌介绍</a></li>
							<li><a href="">招商加盟</a></li>
							<li><a href="">专营店</a></li>
							<li><a href="">新闻动态</a></li>
							<li><a href="">联系我们</a></li>
						</ul>
					</div>
					<div class="heamR">
						<div>
							<input type="text">
							<a href=""><img src="images/search.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<div class="heaBottom">
				<div></div>
				<div></div>
				<span class="zjt"></span>
				<span class="yjt"></span>
			</div>
		</div>
		<div class="main">
			<div class="matop">
				<div class="wenzi" id="bj">
					<div>北</div>
					<div>京</div>
					<div>门</div>
					<div>店</div>
				</div>
			</div>
			<div class="mabod" id="img">
				<div>
					<div><a href="javascript:void(0);"><img src="/images/zyd1.jpg" alt=""></a></div>
					<div class="spxq">
						<h3><a href="javascript:void(0)">北京中关村专营店</a></h3>
						<p class='one'>订购热线：400-000-0000</p>
						<p>联系QQ：429434125</p>
						<p>地址：北京市海淀区中关村xxx大厦xxx</p>
					</div>
				</div>
				<div>
					<div><a href="javascript:void(0);"><img src="/images/zyd2.jpg" alt=""></a></div>
					<div class="spxq">
						<h3><a href="javascript:void(0)">北京中关村专营店</a></h3>
						<p>订购热线：400-000-0000</p>
						<p>联系QQ：429434125</p>
						<p>地址：北京市海淀区中关村xxx大厦xxx</p>
					</div>
				</div>
				<div>
					<div><a href="javascript:void(0);"><img src="/images/zyd3.jpg" alt=""></a></div>
					<div class="spxq">
						<h3><a href="javascript:void(0)">北京中关村专营店</a></h3>
						<p>订购热线：400-000-0000</p>
						<p>联系QQ：429434125</p>
						<p>地址：北京市海淀区中关村xxx大厦xxx</p>
					</div>
				</div>	
			</div>
			<div class="matop">
				<div class="wenzi" id="sh">
					<div>上</div>
					<div>海</div>
					<div>门</div>
					<div>店</div>
				</div>
			</div>
			<div class="mabod" id="img1">
				<div>
					<div><a href="javascript:void(0);"><img src="/images/zyd4.jpg" alt=""></a></div>
					<div class="spxq">
						<h3><a href="javascript:void(0)">上海市黄浦区专营店</a></h3>
						<p class='one'>订购热线：400-000-0000</p>
						<p>联系QQ：429434125</p>
						<p>地址：上海市黄浦区xxx大厦xxx</p>
					</div>
				</div>
				<div>
					<div><a href="javascript:void(0);"><img src="/images/zyd5.jpg" alt=""></a></div>
					<div class="spxq">
						<h3><a href="javascript:void(0)">上海市黄浦区专营店</a></h3>
						<p>订购热线：400-000-0000</p>
						<p>联系QQ：429434125</p>
						<p>地址：上海市黄浦区xxx大厦xxx</p>
					</div>
				</div>
				<div>
					<div><a href="javascript:void(0);"><img src="/images/zyd6.jpg" alt=""></a></div>
					<div class="spxq">
						<h3><a href="javascript:void(0)">上海市黄浦区专营店</a></h3>
						<p>订购热线：400-000-0000</p>
						<p>联系QQ：429434125</p>
						<p>地址：上海市黄浦区xxx大厦xxx</p>
					</div>
				</div>	
			</div>
			<div class="margin"></div>
		</div>
		<div class="footer">
			<div class="footTop">
				<div>
					<div class="same">
						<div class="sameTop">联系我们</div>
						<div class="sameBot">
							<ul>
								<li>
									<div class="stL"><img src="images/sy1.png" alt=""></div>
									<div class="stR">
										<h2>订购热线</h2>
										<div></div>
										<p id="lxwm">400-000-0000 / 010-000-0000</p>
									</div>
								</li>
								<li>
									<div class="stL"><img src="images/sy2.png" alt=""></div>
									<div class="stR">
										<h2>邮箱</h2>
										<div></div>
										<p id="lxwm">123456789@126.com</p>
									</div>
								</li>
								<li>
									<div class="stL"><img src="images/sy3.png" alt=""></div>
									<div class="stR">
										<h2>地址</h2>
										<div></div>
										<p id="lxwm">北京市海淀区xxx大厦xxx室</p>
									</div>
								</li>
								<li>
									<div class="stL"><img src="images/sy4.png" alt=""></div>
									<div class="stR">
										<h2>客服QQ</h2>
										<div></div>
										<p id="lxwm">888888888 / 999999999</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="same">
						<div class="sameTop">关于我们</div>
						<div class="sameBot">
							<div class="weixin"><img src="images/sy12.jpg" alt=""><p id="lxwm">关注微信公众号</p></div>
							<div class="shouji"><img src="images/sy12.jpg" alt=""><p id="lxwm">浏览手机站</p></div>
						</div>
					</div>
					<div class="foottsame"></div>
				</div>
			</div>
			<div class="footBot">
				<div>
					<p>
						<a href="">网站首页</a><span>&nbsp;|</span>
						<a href="">产品专区</a><span>&nbsp;|</span>
						<a href="">品牌介绍</a><span>&nbsp;|</span>
						<a href="">招商加盟</a><span>&nbsp;|</span>
						<a href="">专营店</a><span>&nbsp;|</span>
						<a href="">新闻资讯</a><span>&nbsp;|</span>
						<a href="">联系我们</a>
					</p>
					<p>Copyright © 2014-2025,www.xxxxx.com,All rights reserved</p>
				</div>
			</div>
		</div>
	</div>
	<script src="javascripts/zyd.js"></script>
</body>
</html>